#contents {
    margin-top: 82px;
}
footer {
    margin-top: 32px;
    margin-bottom: 32px;
}
.po{
    cursor:pointer;
}
.loader{
    z-index: 10000;
}
@media (max-width: 500px){

    .toast{ 
        width: auto;
    }
}