@import "../_/_global.scss";

// .table thead tr th:nth-child(1){width:44px;} 
.timgc{max-width:50px;overflow:hidden; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.timgc img{position:relative;min-height:28px;}